<h1 class="my-4">New Game</h1>
<p>Form a word from the following letters:</p>

<ul class="list-inline">
  <% @letters.each do |letter| %>
    <li class="list-inline-item fs-4"><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post" class="mt-4" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join(' ') %>

  <div class="mb-3">
    <label for="word" class="form-label">Your word:</label>
    <input type="text" name="word" id="word" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Play</button>
</form>