/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 ul.list-inline {
  padding-left: 0;
  display: flex;
  gap: 10px;
}

ul.list-inline li {
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Letras blancas */
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* Ajustes de formulario */
form {
  margin-top: 20px;
}

input.form-control {
  margin-bottom: 10px;
}

button.btn {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
}

button.btn:hover {
  background-color: #0056b3;
}